.SideBarContainer {
    display: flex;
    flex-direction: column;
    
    width: 87px;
    height: 100vh;

    background-color: #D9D9D9;
    transition: width 0.15s ease;

    .Logo{
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 40px;
        padding: 10px;
        user-select: none;
        cursor: pointer;
    }

    .Icons{
        margin-top: auto;
        margin-bottom: auto;
    }
}

.SideBarContainer.open{
    width: 350px;

    .Logo{
        font-size: 50px;
    }
}